@import '../../styles/settings.scss';

.component {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  background: $color-light;
  border-radius: 5px;
  display: flex;
  margin: 0;

  .card{
    border-radius: 5px;
    width: 200px;
    padding: 15px;
    border: 1px solid;
    margin: 5px 10px;
    text-decoration: none;
    color: black;
    .subtitle{
      margin: 5px 0;
      text-align: center;
    }

    .title{
      text-align: center;
    }
  }
}
